# Application Configuration
PORT=5000
NODE_ENV=development

# Database Pool URL
# For Docker: postgresql://postgres:postgres@db:5432/globetrotter
# For Local: postgresql://postgres:postgres@localhost:5432/globetrotter
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/globetrotter

# Auth Configurations
JWT_SECRET=hackathon_super_secret_token_12345
JWT_EXPIRES_IN=7d

# File Upload / Cloudinary / S3 (Placeholder for Person A cover photo upload)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
